<div id="footer-white">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 menu">
        <h3>Overview</h3>
        <ul>
              <li>
                  <a href="/">Home</a>
              </li>
              <li>
                <a href="/about">About us</a>
              </li>
              <li>
                  <a href="/contact">Contact us</a>
              </li>
            </ul>
      </div>
      <div class="col-sm-3 menu">
        <h3>Resources</h3>
        <ul>
          <li>
              <a href="/blog">Blog</a>
          </li>
          <li>
              <a href="https://www.twilio.com/">Twilio</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-2 menu">
        <h3>Social</h3>
        <ul>
              <li>
                <a href="https://www.facebook.com/{{ site.facebook_page_name}}">Facebook</a>
              </li>
              <li>
                  <a href="https://twitter.com/{{ site.twitter_username }}">Twitter</a>
              </li>
            </ul>
      </div>
      <div class="col-sm-4 newsletter">
        {% include email.html %}

        <div class="fb-messengermessageus"
          messenger_app_id="203507920034510"
          page_id="984809268262771"
          color="blue"
          size="large">
        </div>
        <a href="https://www.facebook.com/thinkvoice">
          <img src="images/social/fb.png" alt="facebook" />
        </a>
        <a href="https://twitter.com/{{ site.twitter_username }}">
          <img src="images/social/social-tw.png" alt="twitter" />
        </a>

      </div>
    </div>
    <div class="row credits">
      <div class="col-md-12">
        Copyright © 2016. ThinkVoice
      </div>
    </div>
  </div>
</div>
