{% include base.html %}
<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 copyright">
        Copyright © 2016. ThinkVoice
      </div>
      <div class="col-sm-6 menu">
        <ul>
              <li>
                  <a href="/">Home</a>
              </li>
              <li>
                <a href="/about">About</a>
              </li>
              <li>
                  <a href="/contact">Contact</a>
              </li>
              <li>
                  <a href="/blog">Blog</a>
              </li>
            </ul>
      </div>
      <div class="col-sm-3 social">
        <div class="fb-messengermessageus"
          messenger_app_id="203507920034510"
          page_id="984809268262771"
          color="blue"
          size="large">
        </div>
        <a href="https://twitter.com/{{ site.twitter_username }}">
          <img src="/images/social/social-tw.png" alt="twitter" />
        </a>
      </div>
    </div>
  </div>
</div>
